<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<title>Server Hello World</title>
	<link rel="icon" href="{{ url_for(static, filename='favicon/favicon.ico') }}" sizes="16x16">
</head>

<body>
	<h1>Hello World!</h1>

	<footer>
		<nav>{% if contact[conf.URL_KEY][conf.LEGAL_KEY] %}
			<a href="{{ contact[conf.URL_KEY][conf.LEGAL_KEY] }}">Legal Notice</a>{% endif %}{% if contact[conf.URL_KEY][conf.PRIVACY_KEY] %}
			<a href="{{ contact[conf.URL_KEY][conf.PRIVACY_KEY] }}">Privacy Policy</a>{% endif %}
		</nav>
	</footer>
</body>

</html>
