<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<title>Server Hello World</title>
	<link rel="icon" href="{{ url_for(static, filename='favicon/favicon.ico') }}" sizes="16x16">
</head>

<body>
	<h1>Hello {{ name or 'World' }}!</h1>
</body>

</html>
